@page "/"



<div>
    <div class="row">
        <div class="col align-self-center">
            <h1 class="text-center font-weight-bold">TicTacTorus</h1>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <div class="my-3">
                <h4 class="text-center font-weight-bold">Play</h4>
                <hr/>
                <button class="btn btn-primary btn-block" onclick="location.href ='game';">Create Private Lobby</button>
                <button class="btn btn-outline-secondary btn-block" onclick="location.href ='lobbies';">Search Lobbys</button>
            </div>
            <div class="my-3">
                <h4 class="text-center font-weight-bold">Info</h4>
                <hr/>
                <button class="btn btn-primary btn-block" onclick="location.href ='login';">Login/Register</button>
                <button class="btn btn-outline-secondary btn-block" onclick="location.href ='info';">Info</button>
            </div>
        </div>
    </div>
</div>
